h1,p,body{
  margin: 0;
}
p,a{
  font-size: 20px;
}

/*header要素のスタイル*/
h1{
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align: center; /*テキストを中央に配置*/
  color: rgb(255, 255, 255);
}

/*mainの作成*/
main{
  padding: 10px;
}

#parent{
  display: flex;
  justify-content: space-evenly;
}

.contents{
  border: 3px solid rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
}

h2{
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);
}
h2::before{
  content: "●";
  color: rgb(239, 111, 139);
}

.contents p:nth-of-type(2)::first-letter{
  font-weight: bold;
  color: rgb(97, 206, 249);
}

.contents img{
  margin: 10px 0;
  width: 70%;
}

/*フッター内スタイル*/
footer{
  background-color: rgb(244, 79, 79);
  text-align: center; 
}
a:link{
  color: rgb(255, 255, 255);
}
a:visited{
  color: rgb(193, 234, 251);
}
a:hover{
  color: rgb(245, 178, 168);
}

/*レスポンシブ対応*/
@media screen and (max-width: 768px){
  #parent{
    display: block;
  }
  #parent h2{
    font-size: 30px;
    }
  #parent p{
      font-size: 25px;
    }
}
